body
{
    color: #137350;
    text-align: center;
    font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #018419;
    margin: 0 auto;
}
 #container h1
 {
    font-size: 20px;
 }