body
{
    color: #137350;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background-color: rgb(167, 230, 21);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #018419;
    margin: 0 auto;
}
 #container h1
 {
    font-size: 20px;
 }

 #post
 {
    padding: 1em;
 }